<section class="profile-page">
  <!--<p class="success">
    You have been successfully logged in!
  </p>-->
  <h1>Hello {{ username }}</h1>
  <div class="profile">
    <a href="/user/profile">profile</a><a href="/user/profile/settings">settings</a>
  </div>
  <img src={{ picture }} alt="avatar" class="avatar">
  <a href="/logout" class="logoutBtn">
    logout
  </a>
</section>